# log output will be in color even inside docker, if set to 1
FORCE_COLOR=1
# Extract these next 2 secrets from the game exectuable
MASTER_SECRET=
# 9 strings comma seperated, i.e. GAME_SECRETS=abc,def,ghi,jkl,mno,pqr,stu,wxy,zab
GAME_SECRETS=